{% extends 'members/base.html' %} {% block content %}
<h1>Add a team member</h1>
<h3>Set email, location and role.</h3>
<hr />

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-section">
    <div class="form-title-container">
      <label class="form-title">Info</label>
    </div>
    {{ form.first_name }} {{ form.last_name }} {{ form.phone }} {{ form.email }}
  </div>
  <div class="form-section">
    <div class="form-title-container">
      <label class="form-title">Role</label>
    </div>

    <ul>
      {% for radio in form.role %}
      <li>
        {{ radio.tag }}
        <label for="value_{{ forloop.counter0 }}">
          {% if radio.choice_label == 'Regular' %} Regular - can't delete member
          {% elif radio.choice_label == 'Admin' %} Admin - can delete member
          {% endif %}
        </label>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="form-button-container">
    <a href="{% url 'members:list' %}">Cancel</a>
    <button type="submit" class="save-button">Save</button>
  </div>
</form>
{% endblock %}
