{% extends 'members/base.html' %} {% block content %}
{% load static %}
<div class="add-section">
  <a href="{% url 'members:create' %}">
    <img src="{% static 'draw.svg' %}" class="add-button" alt="Add Button Image">
  </a>
</div>
<h1>Team members</h1>
<h3>You have {{ member_list | length }} team members.</h3>
<ul>
  {% for member in member_list %}
  <li>
    <div class="member-info">
      <a href={% url "members:edit" member.id %}>
        <div class="member-name">
          {{ member.concat_name }}
          <span>{% if member.is_admin %}(admin){% endif %}</span>
        </div>
      </a>
      <div class="member-phone">{{ member.phone }}</div>
      <div class="member-email">{{ member.email }}</div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
